<html>
  <head>
      <title>{{ title }} - Emoji_Words</title>
      <style>
          table {
              font-family: arial, sans-serif;
              /*font-size:50;*/
              border-collapse: collapse;
              width: 30%;
          }

          td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
          }

          tr:nth-child(even) {
              background-color: #dddddd;
          }
      </style>

  </head>
  <body>
    <div>Emoji_Word: <a href="/index">Home</a></div>
    <hr>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>
