{% extends "base.html" %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="one-half column" style="margin-top: 10%">
          <h4>Hi</h4>
        </div>
      </div>
    </div>

    <div class="container">
        <form id='index_form' method="post" role="form">
            <div class="row">

                <div class="six columns">
                  <font size="5"> Enter a word or click this emoji:
                      <a href="/search/{{emj}}" onclick="$(this).getElementById('form').submit();">{{emj}}</a>
                  </font>
                  <input class="u-full-width" type="text" placeholder="oslo" id="search_string" name="search_string">
                    </input>
                </div>
            </div>

            <input class="button-primary" type="submit" value="Search"></input>
        </form>
    </div>


    {% if search_string %}

        <div class="container">

            {% if valid %}

                    <div class="row">
                      <div class="one-half column">
                        <h5> Searched for <strong> <a> {{ search_string }} </a> </strong>  </h5>
                      </div>
                    </div>

                    <table class="u-custom-width">
                      <thead>
                        <tr>
                          <th>Emoji</th>
                          <th>Cosine Similarity</th>
                        </tr>
                      </thead>

                      <tbody>

                          {% for result in res %}

                            <tr>
                              <td> <h3> <a href='/search/{{result[0]}}'> {{result[0]}} </a> </h3> </td>
                              <td>{{result[1]}}</td>
                            </tr>

                          {% endfor %}

                      </tbody>
                    </table>

            {% else %}

                <div class="row">
                    <h5> No results for <strong> <a> {{ search_string }} </a> </strong>...  😞 😭  </h5>
                </div>


            {% endif %}

        </div>

    {% endif %}


{% endblock %}
